body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.reference-list {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.reference-item.none {
    list-style-type: none;
}

.reference-item.circle {
    list-style-type: circle;
}

.reference-item.disc {
    list-style-type: disc;
}

.reference-item.square {
    list-style-type: square;
}

.no-border-radius {
    border-radius: 0 !important;
}